{% extends 'layout.html.twig' %}


{% block content %}

    <div class="table-group-divider mb-5"></div>

            <div class="container-fluid">
                <div class="row row-cols-auto">
                    <div class="col-auto">
                        {% block login_title %}
                            {# render title #}
                        <h1 class="display-2">Login</h1>
                        {% endblock %}
                    </div>

                    <div class="col-auto ms-auto">
                        {# if there is an error, render errors #}
                        {% if error %}
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <form action="{{ path('app_login') }}" method="post">
                            <label for="username">Username:</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}">

                            <label for="password">Password:</label>
                            <input type="password" id="password" name="_password">
                            {# If you want to control the URL the user is redirected to on success
                            <input type="hidden" name="_target_path" value="/account"> #}
                            {% if is_granted('ROLE_MODERATOR') %}
                            <input type="hidden" name="_target_path" value="{{ path('admin')}}">
                            {% else %}
                            <input type="hidden" name="_target_path" value="{{ path('home')}}">
                            {% endif %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <button type="submit" class="btn btn-success">login</button>
                        </form>
                    </div>
                </div>
            </div>
{% endblock %}
