{% extends 'layout.html.twig' %}

{% block content %}
    <div class="table-group-divider mb-5"></div>

    <div class="container-fluid text-center">
        <div class="row g-5 align-items-center justify-content-center">
            {# check if pagination is empty #}
            {% if pagination is empty %}
                {# display error message #}
                <h1>No Adverts</h1>
            {% else %}
                {# diaplay adverts #}
            {% for advert in pagination %}
                <div class="col-auto">
                    <div class="card mb-3" style="max-width: 20rem;">
                        <img src="{{asset('images/' ~ advert.imageFileName) }}" alt="{{ advert.imageFileName }}" class="img-fluid rounded-start rounded-end">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ path('show_advert', {'id': advert.id}) }}">{{ advert.Title }}</a></h5>
                            <p class="card-text">From: {{ advert.getUser().getUsername() }}</p>
                            <p class="card-text">£{{ advert.Price }}</p>
                            <p class="card-text"><small class="text-body-secondary">{{ advert.Timestamp | date('d/m/y H:i') }}</small></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {# display pagination links #}
            {{ knp_pagination_render(pagination,'pagination/twitter_bootstrap_v4_pagination.html.twig') }}
        </ul>
    </nav>
{% endblock %}

